.background-img#home_pic
  %img{:src => "/assets/background_JayC.jpg"}
.background-img.background-hide-img#landscape_pic
  %img{:src => "/assets/Landscape_JC.jpg"}
.background-img.background-hide-img#portrait_pic
  %img{:src => "/assets/Portrait_JC.jpg"}
.background-img.background-hide-img#product_pic
  %img{:src => "/assets/Product_JC.jpg"}

