.background-img#home_pic
  %img{:src => "/assets/background_JayC.jpg"}
.background-img.background-hide-img#landscape_pic
  %img{:src => "/assets/Landscape/IMG_6096.jpg", :style => "opacity:0"}
.background-img.background-hide-img#portrait_pic
  %img{:src => "", :style => "opacity:0"}
.background-img.background-hide-img#product_pic
  %img{:src => "", :style => "opacity:0"}

