.background-img#home_pic
  %img{:src => "/assets/background_JayC.jpg"}
.background-img.background-hide-img#landscape_pic
  %img{:src => "/assets/Landscape/IMG_6096.jpg"}
.background-img.background-hide-img#portrait_pic
  %img{:src => "/assets/Portrait/IMG_0989.jpg"}
.background-img.background-hide-img#product_pic
  %img{:src => "/assets/Product/IMG_0679.jpg"}

