%header.navbar.navbar-fixed-top
  %nav.navbar-inner
    .menu
      .footer_menu_items
        .menu_font
          Home
      %a.footer_menu_items
        .menu_font
          Landscape
      %a.footer_menu_items
        .menu_font
          Portrait
      %a.footer_menu_items
        .menu_font
          Product


