%html
  %head
    %meta{"http-equiv" => "X-UA-Compatible", "content" => "IE=edge"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : "Jay C Photography"
    %link{:href => "/assets/avatar.png", :ref => "shortcut icon", :type => "image/vnd.microsoft.icon"}
    %meta{:content => content_for?(:description) ? yield(:description) : "Jay C Photography" , :name => "description"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
  %body
    = yield
